[submodule "common"]
	path = common
	url = https://github.com/msquared2/foobar2000-common
[submodule "columns_ui-sdk"]
	path = columns_ui-sdk
	url = https://github.com/msquared2/columns_ui-sdk.git
[submodule "pfc"]
	path = pfc
	url = https://github.com/msquared2/pfc.git
